
.navbar {
    background-color: #7FA9CE;
    padding: 1rem;
    
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .nav-item a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
  }
  
  .nav-item a:hover {
    background-color: #d9d9d9;
  }
  