/* HomePage.css */
.prescription {
    display: flex;
    padding: 100px; /* Adjust padding to account for the fixed navbar */
    color: #333; /* Dark text color */
    height: 109vh;
    flex: 0 1 100px;
    flex-direction: column;
}

.prescription h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000; /* Make the header text stand out */
}

.prescription p {
    font-size: 1.2rem;
    color: #555; /* Slightly lighter text for paragraphs */
    line-height: 1.6; /* Improve readability */
}

.prescription-action {
    display: flex;
    background-color: #7FA9CE;
    color: white;
    border-radius: 0.5em;
    outline: black solid;
    align-items: center;
    flex-grow: none;
    align-self:flex-start;
    justify-content: center;
    padding: 0.2em
}

.prescription-details {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding: 1em;
    width: 300px;
    outline: black solid;
    margin-top: 60px;
    margin-bottom: 1em;
}

form {
    margin-bottom: 15px;
}

label {
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-weight: bold;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
    outline: solid black;
}

.patient-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    outline: 1px solid black;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px
}