/* HomePage.css */
.prescription {
    display: flex;
    flex-direction: column;
    padding: 200px 200px 200px 200px; /* Adjust padding to account for the fixed navbar */
    margin-top: 50px; /* Extra space to avoid overlap with the navbar */
    color: #333; /* Dark text color */
    height: 100vh; /* Ensure the page takes up the full height of the viewport */
    width: 1200px;
    box-sizing: border-box; /* Includes padding within the element’s width/height */
   
    
}

.prescription h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000; /* Make the header text stand out */
}

.prescription p {
    font-size: 1.2rem;
    color: #555; /* Slightly lighter text for paragraphs */
    line-height: 1.6; /* Improve readability */
}

.prescription-action {
    background-color: #7FA9CE;
    color: white;
    border-radius: 0.5em;
    outline: black solid;
    position: absolute;
    top: 8.3em;
    right: 46em;
    padding: 0.5em;
}