
.navbaritems {
   display: flex;
   align-items: center;  
   width: 100%;
   margin-left: 9em;
   margin-right: 9em;
   flex-direction: row;
   justify-content: space-around;
   font-size:x-large;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    gap: 0.5em;
    flex-direction: row;
  }
  
  .nav-item a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
  }
  
  .nav-item a:hover {
    background-color: #d9d9d9;
  }

  .navbar-logo {
    display: flex;
    max-width: 200px;
    justify-content: flex-start;
  }

  .navbar-rxlogo {
    display: flex;
    max-width: 100px;
    justify-content: flex-start;
  }

  .logos {
    display: flex;
    margin-right: 3em
  }