body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.prescriber-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-bottom: 20px;
  background-color: #ccc;
  border-radius: 5px;
  border: 2px solid black;
  padding: 1em;
}

.prescriber-item-span {
  width: 250px;
}

.prescriber-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 10em auto;
  padding: 30px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #333;
}

.prescriber-list-container h1 {
  font-weight: 500;
  margin-bottom: 20px;
  color: #007bff;
  font-size: 2em;
  text-align: center;
}

.prescriber-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e0e0e0;
  gap: 20px;
}

.prescriber-search-bar {
  margin-right: 10px;
}

.prescriber-search-bar label {
  font-size: 16px;
  color: #333;
  margin-bottom: 4px;
  gap: 1em
}

.prescriber-search-bar input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.prescriber-search-bar input[type="text"]:focus {
  border-color: #007bff;
}

.add-prescriber-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
  flex-shrink: 0;
}

.add-prescriber-button:hover {
  background-color: #0056b3;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.prescriber-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 8px;
}

.prescriber-card {
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #ffffff;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}

.prescriber-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.prescriber-card p {
  font-size: 1rem;
  color: #555;
  margin: 0;
}
