/* HomePage.css */
.patients {
    display: flex;
    flex-direction: column;
    padding: 200px 200px 200px 200px; /* Adjust padding to account for the fixed navbar */
    margin-top: 50px; /* Extra space to avoid overlap with the navbar */
    color: #333; /* Dark text color */
    height: 100vh; /* Ensure the page takes up the full height of the viewport */
    width: 1200px;
    box-sizing: border-box; /* Includes padding within the element’s width/height  */
    background-color: white;
    outline: 1px solid black;
}

.patients h1 {
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
    font-size: 2em;
    color: #000; /* Make the header text stand out */
}

.patients p {
    font-size: 1.2rem;
    color: #555; /* Slightly lighter text for paragraphs */
    line-height: 1.6; /* Improve readability */
}

.patient-card {
    outline: 2px solid black;
    width: 350px;
}

.patient-card-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 1em;
}

.patient-name-card{
    position: absolute;
    top: 132px;
    left:150px;
    width: 800px;
    background: #7FA9CE;
    padding: 0.5em;
    outline: solid black;
    border-radius: 0.3em
}

.patient-name {
    font-weight: lighter;
    font-size: 0px
}

.patient-title {
    width: 350px;
}

.patient-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    outline: solid black;
    width: 350px;
}

.allergies-balance {
    width: 350px
}