.patient-list-container {
    width: 1200px;
    margin-top: 10em;
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: black;
    font-weight: lighter;

  }
  .patient-list-container h1 {
    font-weight: lighter;
  }
  .patient-list {
    height: 400px; /* Adjust height as needed */
    overflow-y: scroll;
    border: 1px solid black;
    padding: 10px;
    background-color: #fff;
  }
  
  .patient-card {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f4f4f4;
  }
  